views/index.html
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/stylesheets/style.css"><link rel="stylesheet" href="/stylesheets/bootstrap.css"></head><body><div class="container-fluid"><div class="row blue"><div class="col-lg-6"><h1></h1><!--#error= error--><!--    p= info-->
</div><div class="col-lg-6 mt19"><form method="post" action="/" class="form-inline"><div class="form-group"><input type="email" placeholder="Email" name="email" class="form-control"><input type="password" placeholder="Password" style="margin-left:12px;" name="password" class="form-control"><button style="margin-left:12px;" type="submit" class="btn-danger btn">Log In</button><a href="/register" style="margin-left:20px;color:#fff;">New User? Register</a></div></form></div></div><div style="background-color:red;color:#fff;" class="row"><div class="col-lg-12"><div id="error"></div></div></div></div></body></html>

views/index.jade
extends layout

block content
    .container-fluid
        .row.blue
            .col-lg-6

                h1= title
                //#error= error
                //    p= info


            .col-lg-6.mt19
                form.form-inline(method='post',action='/')
                    .form-group
                        input.form-control(type="email",placeholder="Email",name="email")
                        input.form-control(type="password",placeholder="Password",style="margin-left:12px;",name="password")
                        button.btn-danger.btn(style="margin-left:12px;",type='submit') Log In
                        a(href="/register",style="margin-left:20px;color:#fff;") New User? Register



        .row(style="background-color:red;color:#fff;")
            .col-lg-12
                #error= error
