views/register.jade
extends layout

block content
    .container-fluid
        .row
            .col-lg-12
                .well-lg
                    h1= title
                    form(method="post" action="/register")
                        .form-group
                            input(type="text" class="form-control"  placeholder="Name" name="name" required)
                        .form-group
                            input(type="email" class="form-control"  placeholder="Email id" name="email" required)
                        .form-group
                            input(type="password" class="form-control"  placeholder="password" name="password" required)

                        button.btn.btn-success(type="submit") Register

views/register.html
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/stylesheets/style.css"><link rel="stylesheet" href="/stylesheets/bootstrap.css"></head><body><div class="container-fluid"><div class="row"><div class="col-lg-12"><div class="well-lg"><h1></h1><form method="post" action="/register"><div class="form-group"><input type="text" placeholder="Name" name="name" required class="form-control"></div><div class="form-group"><input type="email" placeholder="Email id" name="email" required class="form-control"></div><div class="form-group"><input type="password" placeholder="password" name="password" required class="form-control"></div><button type="submit" class="btn btn-success">Register</button></form></div></div></div></div></body></html>
